/* Color Palette
	Gunmetal:    #293132
	Jet:         #474044
	Davy's Gray: #4f5165
	Blood Red:   #5c1400
	Seal Brown:  #^B291
*/

body {
    font: 1em/1.5em Avenir Next, Verdana, Geneva, sans-serif;
	color: #efefef;
	background: #4b4955;
	padding: 30px
} 

h1 {
	font: 2em Born, Georgia, serif;
	color: #6B2917;
}

img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
	border-radius: 10px;
}

span.logo {
	font-family: Born, Georgia, serif !important;
	color: #6B2917;
}